@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #343a40;
}

.navbar .navbar-nav .nav-link {
    color: white;
}

/* .nav-section-logo {
    height: 45px;
    width: 45px;
} */

.portfolio-logo {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    border : 2px solid #4b6cc1;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
}

.button-container{
    display: flex;
    gap: 10px;
}

.bg-container {
    background-color:  #191a1d;
    height: 100vh;
}

.banner-section-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-section-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 24px;
}

.banner-section-image {
    width: 280px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.person-name {
    color : #4b6cc1;
}

.custom-button {
    color: white;
    background-color: #4b6cc1;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
}

.custom-button:hover {
    background-color: #fff;
    color: #001c32;
    transform: scale(1.1);
}

.about-me-section {
    background-color: #323f4b;
}

.about-me-section-sub-heading {
    color : #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.about-me-section-heading {
    color: #fff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.about-me-section-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 16px;
}

.about-me-section-image {
    width: 100%;
    border-radius: 15px;
}

.skills-section {
    background-color: #1f2933;
}

.skills-section-sub-heading {
    color : #fff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.skills-card {
    background-color: #323f4b;
    border-radius: 8px;
    padding: 10px;
}

.skills-card-image {
    width: 64px;
    height: 64px;
    border-radius: 15px;
}

.skills-card-title {
    color: #fff;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.projects-section {
    background-color: #3e4c59;
}

.projects-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.projects-section-heading {
    color: #fff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.project-card {
    background-color: #323f4b;
    border-radius: 8px;
}

.projects-card-image {
    height: 400px;
    width: 100%;
    border-radius: 12px;
}

.projects-card-sub-title {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.projects-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
}

.projects-card-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 20px;
}

.projects-card-link {
    color: #cced00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}

.services-section {
    background-color: #52606d;
}

.services-section-sub-heading {
    color:#cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.services-section-heading {
    color: #fff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.services-card {
    background-color: #323f4b;
    border-radius: 8px;
    padding: 20px;
}

.services-card-image {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.services-card-title {
    color: #fff;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.services-card-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 20px;
}

.work-done-section {
    background-image: url("portfolio-work-done-bg.jpg");
    background-size: cover;
}

.hr-line {
    background-color: white;
    width: 60px;
}

.work-done-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 900;
}

.work-done-card-sub-title {
    color:white;
    font-family: "Roboto";
    font-size: 16px;
}


.contact-section-container {
    background-color: #0d2436;
}

.container-section-heading {
    color: #fff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.email-section-heading {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 20px;
}

.email-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 14px;
}

.form-group {
    padding-bottom: 8px;
    color: #fff;
}

.form-control {
    background: #D9EAFD;
    
}

.footer-section-containter {
    background-color: #0d2436;
}
.footer-section {
    background-color: #0d2436;
}

.footer-section-image{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.footer-section-copyright-container {
    text-align: center;
    color: #fff;
    background-color: #001c32;
    padding: 10px;
}

.footer-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.footer-section-text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
}


#footer {
    background-color: #323f4b;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}
